@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ABeeZee-Italic;
  src: url(./assets/fonts/ABeeZee-Italic.ttf);
}

@font-face {
  font-family: ABeeZee;
  src: url(./assets/fonts/ABeeZee-Regular.ttf);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
.website {
  scroll-behavior: smooth;
  overflow: hidden;
  width: 600vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.secondScreen {
  position: absolute;
  left: 150vh;
}

.thirdScreen {
  position: absolute;
  left: 300vh;
}

.fourthScreen {
  position: absolute;
  left: 430vh;
}

.fifthScreen {
  position: absolute;
  left: 500vh;
}

.sixthScreen {
  border-radius: 1vh;
  position: absolute;
  left: 700vh;
  width: 80%;
  height: 93%;
  margin-top: 2.5vh;
  background:rgba(0, 0, 0, 0.12);
}

.space {
  z-index: -99;
  position: fixed;
  background-repeat: repeat-x;
  width: 300%;
  height: 100vh;
  background-image: url("./assets/misc/Sky.svg");
  background-size: cover;
  left: 0;
}

.auroraElements {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -40%;
  width: 100%;
}

.mountains {
  width: 500%;
  position: fixed;
  bottom: 0%;
  left:0;
  
}

.furthest-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/misc/Distant\ Mountain.svg");
  background-position: bottom;
  background-attachment: fixed;
}

.middle-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/misc/Middle\ Mountain.svg");
  background-position: bottom;
  background-attachment: fixed;
}

.closest-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/misc/Closest\ Mountain.svg");
  background-position: bottom;
  background-attachment: fixed;
}

.foreground-snow {
  position: absolute;
  background-repeat: repeat-x;
  width: 1200vh;
  height: 100vh;
  background-image: url("./assets/misc/Snow\ Foreground.png");
  background-position: bottom;
  bottom: 0%;
  left:0;
}

.penguin {
  transform-origin: bottom left;
  transform: scale(1.2);
  width: 80vh;
  z-index: 101;
  position: absolute;
  left: -1%;
  bottom: 0;
}

.sign-parent {
  position: relative;
  right: -70vh;
  top: 0;
  width: 80vh;
}

.logo {
  position: relative;
  z-index: 100;
  width: 100%;
}

.planks {
  width: 40%;
  margin: 0 auto;
}

.plank,
.plank img {
  position: relative;
  z-index: 105;
  width: 100%;

}
.plank:hover {
  transform:scale(1.1);
}

.smallRopes,
.bigRopes {
  
  position: relative;
  z-index: 85;
  left:10%;
  width: 80%;
}

.bigRopes {
  width: 60%;
  margin: 0 auto;
  margin-bottom: -15%;
  left:0% !important
}

.upperBigRopes {
  width: 60%;
  margin: 0 auto;
  top: 0%;
}

.smallRopes:first-of-type {
  position: relative;
  z-index: 85;
  margin-top: -30%;
}

.plank p {
  margin-top: -7vh;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 3.5vh;
  line-height: 4.3vh;
  color: white;
  text-shadow: -0.3vh -0.3vh 0 #000, 0.3vh -0.3vh 0 #000, -0.3vh 0.3vh 0 #000, 0.3vh 0.3vh 0 #000;
  position: relative;
  z-index: 105;
}

.info {
  position:relative;
  width: 50vh;
  text-align: center;
  font-family: "ABeeZee";
  font-weight: 200;
  color: white;
  background:rgba(0, 0, 0, 0.12);
  border-radius: 0.5vh;
  padding: 2vh;
}

.secondParagraph {
  left: 70vmax;
}

.penguins {
  position: absolute;
  transform: scale(0.5);
  width:100%;
}

.igloo {
  transform: scale(1.2);
  position: absolute;
  width:100%;
}

.sign {
  position: absolute;
  transform: scale(0.3);
  width:100%;
}

.rocks {
  position: absolute;
  transform: scale(0.7);
  width:100%;
}

.schedule {
  margin-left: 10vh;
  width: 83%;
  display: grid;
  grid-gap: 0.1vh;
  grid-template-rows:
    [tracks] auto [time-0800] 0.7fr [time-0900] 0.7fr [time-1000] 0.7fr [time-1100] 0.6fr [time-1200] 0.3fr [time-1300] 0.7fr [time-1400] 0.6fr [time-1500] 0.6fr [time-1600] 0.6fr [time-1700] 0.6fr [time-1800] 0.2fr [time-1900] 0.8fr [time-2000] 0.7fr [time-2100] 0.6fr [time-2200];
  ;
  grid-template-columns:
    [times] 0fr [track-1-start] 0.5fr [track-1-end track-gap-start] 0.2fr [track-1-end track-2-start] 0.25fr [track-2-start track-2-end] 0.02fr [track-2-end track-3-start] 0.25fr [track-3-start track-3-end] 0.01fr [track-3-end track-4-start] 0.15fr [track-4-end];
}

.schedule::after {
  display: block;
  content: '';
  position: sticky;
  top: 0;
  grid-column: track-1 / -1;
  grid-row: tracks;
  z-index: 999;
}

.track-slot {
  display: block;
  position: sticky;
  margin-top: 2.5vh;
  z-index: 1000;
  font-family: "ABeeZee";
  font-weight: 200;
  color: white;
  font-size: 5vh;
  text-align: center;
}

.title,
.time-slot {
  margin: -2.5vh;
  font-size: 1.8vh;
}

.time-slot {
  font-weight: 200;
  font-size: 1.6vh;
  margin-left: -6vh;
}

h2,
.title,
.timing,
.hackingEnds {
  font-family: "ABeeZee";
  color: white;
}

.title,
.timing,
.hackingEnds {
  position: relative;
  text-align: center;
  margin-top:0.1vh;
}

.timing {
  font-size: 1.5vh;
  padding-top: 2vh;
}

span {
  display: block;
}

.track,
.important {
  align-items: center;
  color: #fff;
  margin: 0;
  padding: .7vh;
  font-size: 1.4vh;
  border-radius: 1.5vh;
}
.track {
    background-color: rgba(29, 29, 29, 0.8);
}
.important {
  background-color: rgba(40, 129, 70, 0.8);
}

.hackingEnds {
  grid-column: track-4;
  grid-row: time-1800;
  margin-top: -3.5vh;
  
}

.hackingEnds h3 {
  font-size: 2.3vh;
  color: rgb(40, 129, 70);
  font-weight: bold;
}
@media (max-width: 1200px) {
  .website {
    width: 700vw;
  }

  .penguin {
    transform: scale(1.2);
  }

  .sign-parent {
    right: -70%;
  }

  .secondParagraph {
    position: relative;
    left: 110vmax;
  }

  .mountains,
  .foreground-snow {
    width: 1200vmax;
  }

  .sixthScreen {
    width: 95vh;
  }
  .schedule {
    width: 80vh;
  }
}