@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ABeeZee-Italic;
  src: url(./assets/fonts/ABeeZee-Italic.ttf);
}

@font-face {
  font-family: ABeeZee;
  src: url(./assets/fonts/ABeeZee-Regular.ttf);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
.website {
  scroll-behavior: smooth;
  overflow: hidden;
  width: 600vw;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.secondScreen {
  position: absolute;
  left: 150vh;
}

.thirdScreen {
  position: absolute;
  left: 300vh;
}

.fourthScreen {
  position: absolute;
  left: 430vh;
}

.fifthScreen {
  position: absolute;
  left: 500vh;
}

.space {
  z-index: -99;
  position: fixed;
  background-repeat: repeat-x;
  width: 200%;
  height: 100vh;
  background-image: url("./assets/misc/Sky.svg");
  background-size: cover;
  left: 0;
}

.auroraElements {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -40%;
  width: 100%;
}

.mountains {
  width: 400%;
  position: fixed;
  bottom: 0%;
  left:0;
  
}

.furthest-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/misc/Distant\ Mountain.svg");
  background-position: bottom;
  background-attachment: fixed;
}

.middle-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/misc/Middle\ Mountain.svg");
  background-position: bottom;
  background-attachment: fixed;
}

.closest-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/misc/Closest\ Mountain.svg");
  background-position: bottom;
  background-attachment: fixed;
}

.foreground-snow {
  position: absolute;
  background-repeat: repeat-x;
  width: 400%;
  height: 100vh;
  background-image: url("./assets/misc/Snow\ Foreground.png");
  background-position: bottom;
  bottom: 0%;
  left:0;
}

.penguin {
  transform-origin: bottom left;
  transform: scale(1.2);
  width: 80vh;
  z-index: 101;
  position: absolute;
  left: -1%;
  bottom: 0;
}

.sign-parent {
  position: relative;
  right: -70vh;
  top: 0;
  width: 80vh;
}

.logo {
  position: relative;
  z-index: 100;
  width: 100%;
}

.planks {
  width: 40%;
  margin: 0 auto;
}

.plank,
.plank img {
  position: relative;
  z-index: 105;
  width: 100%;

}
.plank:hover {
  transform:scale(1.1);
}

.smallRopes,
.bigRopes {
  
  position: relative;
  z-index: 85;
  left:10%;
  width: 80%;
}

.bigRopes {
  width: 60%;
  margin: 0 auto;
  margin-bottom: -15%;
  left:0% !important
}

.upperBigRopes {
  width: 60%;
  margin: 0 auto;
  top: 0%;
}

.smallRopes:first-of-type {
  position: relative;
  z-index: 85;
  margin-top: -30%;
}

.plank p {
  margin-top: -7vh;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 3.5vh;
  line-height: 4.3vh;
  color: white;
  text-shadow: -0.3vh -0.3vh 0 #000, 0.3vh -0.3vh 0 #000, -0.3vh 0.3vh 0 #000, 0.3vh 0.3vh 0 #000;
  position: relative;
  z-index: 105;
}

.info {
  position:relative;
  width: 50vh;
  text-align: center;
  font-family: "ABeeZee";
  font-weight: 200;
  color: white;
  background:rgba(0, 0, 0, 0.174);
  border-radius: 0.5vh;
  padding: 0.3vh;
}

.secondParagraph {
  left: 70vmax;
}

.penguins {
  position: absolute;
  transform: scale(0.5);
  width:100%;
}

.igloo {
  transform: scale(1.2);
  position: absolute;
  width:100%;
}

.sign {
  position: absolute;
  transform: scale(0.3);
  width:100%;
}

.rocks {
  position: absolute;
  transform: scale(0.7);
  width:100%;
}

@media (max-width: 1200px) {
  .website {
    width: 700vw;
  }

  .penguin {
    transform: scale(1.2);
  }

  .sign-parent {
    right: -70%;
  }

  .secondParagraph {
    position: relative;
    left: 90vmax;
  }
  .mountains,
  .foreground-snow {
    width: 700vmax;
  }
}