@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../assets/Sky.svg"), url(../assets/Snow-background.svg);
    background-repeat: no-repeat, repeat;
    background-size: 100%, auto;
    z-index: 1, 2;
    overflow-y: scroll;
}

.map-button {
    position: fixed;
    width: 121px;
    height: 141px;
    left: 45px; 
    bottom: 45px;
    background: url("../assets/map/map.svg") no-repeat center;
    background-size: cover;
    font-size: 25px;
    z-index: 1000;
    border-radius: 10px;
    border: none;
}

.map-button:hover { 
    transform: scale(1.2);
}

.assets {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    object-fit: cover;
    overflow-y: hidden;
}

.mountains {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30px;
    left: 0px;
    z-index: 2;
    object-fit: contain;
}

.penguin1 {
    position: relative;
    width: 17%;
    height: auto;
    left: 900px;
    top: 380px;
    right: auto;
    bottom: 5;
    z-index: 3;
}

.text{
    position: relative;
    text-align: center;
    top: 150px;
    font-family: "ABeeZee";
    font-weight: 200;
    color: black;
    border-radius: 40px;
    z-index: 50;
    width: 50vh;
    padding: 2vh;
    background: rgba(255, 255, 255, 0.885);
}

.schedule{
  margin-left: 10vh;
  width: 88%;
  height: 83vh;
  display: grid;
  grid-gap: 0.1vh;
  grid-template-rows: [tracks] auto [time-0800] 1fr [time-0900] 1fr [time-1000] 1fr [time-1100] 1fr [time-1200] 1fr [time-1300] 1fr [time-1400] 1fr [time-1500] 1fr [time-1600] 1fr [time-1700] 1fr [time-1800] 1fr [time-1900] 1fr [time-2000] 1fr [time-2100] 1fr [time-2200];
  grid-template-columns: [times] 0fr [track-start-start] 0.2fr [track-start-end track-newGap-start] 0.02fr [track-newGap-end track-start2-start] 0.2fr [track-start2-end track-boba-start] 0.02fr [track-boba-start track-boba-end] 0.2fr [track-1-end track-gap-start] 0.2fr [track-1-end track-2-start] 0.25fr [track-2-start track-2-end] 0.02fr [track-2-end track-3-start] 0.25fr [track-3-start track-3-end] 0.01fr [track-3-end track-4-start] 0.15fr [track-4-end];
}

.schedule::after {
  display: block;
  content: "";
  position: sticky;
  top: 0;
  grid-column: track-1 / -1;
  grid-row: tracks;
  z-index: 999;
}

.track-slot {
    display: block;
    position: sticky;
    margin-top: 2.5vh;
    z-index: 1000;
    font-family: "ABeeZee";
    font-weight: 200;
    color: white;
    font-size: 5vh;
    text-align: center;
  }

  .time-slot {
    margin: -2.5vh;
    font-size: 1.8vh;
    font-weight: 200;
    margin-left: -6vh;
    z-index: 999;
  }
  
  .title {
    margin: -2.5vh;
    font-size: 1.5vh;
  }
  
  h2,
  .title,
  .timing {
    font-family: "ABeeZee";
    color: white;
  }
  
  .title,
  .timing {
    position: relative;
    text-align: center;
    margin-top: 0.1vh;
  }
  
  .timing {
    font-size: 1.3vh;
    padding-top: 2vh;
  }
  
  span {
    display: block;
  }
  
  .track,
  .important {
    align-items: center;
    color: #fff;
    z-index: 900;
    font-size: 1.4vh;
    border-radius: 1.5vh;
  }
  .track {
    background-color: rgba(29, 29, 29, 0.8);
  }
  .important {
    background-color: rgba(40, 129, 70, 0.8);
  }
  
  .hiddenText {
    position: absolute;
    margin-top: -1.2vh;
    font-size: 1.2vh;
    display: none;
    margin-left: -2.5vh;
  }
  
  .track:hover {
    align-items: center;
    text-align: center;
    transform: scale(1.2);
  }
  
  .track:hover .title {
    margin-top: -0.5vh;
    transform: scale(0.83);
  }
  
  .track:hover .timing {
    margin-top: -1vh;
    transform: scale(0.83);
  }
  
  .track:hover .hiddenText {
    padding-top: 0.7vh;
    display: inline-block;
  }
  
  .hide {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

.sixthScreen {
  border-radius: 1vh;
  position: absolute;
  top: 4%;
  width: 75%;
  height: 87%;
  left: 12.5%;
  background: rgba(0, 0, 0, 0.12);
  z-index: 200;
}


