@tailwind base;
@tailwind components;
@tailwind utilities;

.website {
  overflow: hidden;
  width: 500vw;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.secondScreen {
  position: absolute;
  left: 100vmax;
}

.thirdScreen {
  position: absolute;
  left: 200vmax;
}

.fourthScreen {
  position: absolute;
  left: 300vmax;
}

.fifthScreen {
  position: absolute;
  left: 400vmax;
}

.space {
  z-index: -99;
  position: fixed;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Space.svg");
  background-size: cover;
  left: 0;
}

.auroraElements {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -40%;
  width: 100%;
}

.mountains {
  width: 500%;
  position: absolute;
  bottom: 0%;
}

.furthest-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Furthest Mountain.svg");
  background-position: bottom;
}

.middle-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Middle\ Mountain.svg");
  background-position: bottom;
}

.closest-mountain {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Closest\ Mountain.svg");
  background-position: bottom;
}

.foreground-snow {
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Snow\ Foreground.png");
  background-position: bottom;
}

.penguin {
  transform-origin: bottom left;
  transform: scale(1.3);
  width: 80vh;
  z-index: 101;
  position: absolute;
  left: -1%;
  bottom: 0;
}

.sign-parent {
  position: relative;
  left: 70vh;
  top: 0;
  z-index: 100;
  width: 80vh;
}

.logo {
  width: 100%;
}

.planks {
  position: relative;
  z-index: 200;
  width: 40%;
  margin: 0 auto;
}

.plank,
.plank img {
  width: 100%;
}

.smallRopes,
.bigRopes {
  position: relative;
  z-index: -1;
  width: 100%;
}

.bigRopes {
  width: 60%;
  margin: 0 auto;
  margin-bottom: -15%;
}

.upperBigRopes {
  width: 60%;
  margin: 0 auto;
  top: 0%;
}

.smallRopes:first-of-type {
  margin-top: -30%;
}

.plank p {
  margin-top: -25%;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: 400;
  font-size: 5vh;
  line-height: 43px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.info a {
  left: 40vmax;
  position: absolute;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1000px) {
  .website {
    width: 600vw;
  }

  .penguin {
    transform: scale(1.2);
  }

  .sign-parent {
    left: 70%;
  }

  .info a {
    background-color: red;
    left: 50vmax;
  }

  .mountains {
    width: 600vmax;
  }
}
